@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);















#header1-19 P {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: #000000;
}
#header1-19 .btn {
  font-size: 12px;
}
#header3-13 .mbr-section-title,
#header3-13 .mbr-section-subtitle {
  text-align: center;
}
#header3-13 SMALL {
  font-family: 'Open Sans', sans-serif;
  color: #c0a375;
}
#header3-13 H3 {
  font-family: 'Open Sans', sans-serif;
}
#content1-14 P {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
#header3-17 .mbr-section-title,
#header3-17 .mbr-section-subtitle {
  text-align: center;
}
#header3-17 H3 {
  font-family: 'Open Sans', sans-serif;
}
#header3-17 SMALL {
  font-family: 'Open Sans', sans-serif;
  color: #c0a375;
}
#features3-25 H5 {
  color: #c0a375;
  font-family: 'Open Sans', sans-serif;
}
#features3-25 P {
  font-family: 'Open Sans', sans-serif;
}
#content1-26 DIV {
  text-align: center;
  color: #232323;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
}
#header3-27 .mbr-section-title,
#header3-27 .mbr-section-subtitle {
  text-align: center;
}
#header3-27 SMALL {
  font-family: 'Open Sans', sans-serif;
  color: #232323;
}
#content1-29 P {
  text-align: center;
}
#header3-30 .mbr-section-title,
#header3-30 .mbr-section-subtitle {
  text-align: center;
}
#content1-31 P {
  text-align: center;
}
#header3-32 .mbr-section-title,
#header3-32 .mbr-section-subtitle {
  text-align: center;
}
#header3-32 SMALL {
  text-align: right;
}
#content1-33 P {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
#header3-21 .mbr-section-title,
#header3-21 .mbr-section-subtitle {
  text-align: center;
}
#header3-21 SMALL {
  color: #c0a375;
}
#content6-18 UL {
  font-family: 'Open Sans', sans-serif;
}
#content6-18 P {
  font-family: 'Open Sans', sans-serif;
}
#header3-20 .mbr-section-title,
#header3-20 .mbr-section-subtitle {
  text-align: center;
}
#msg-box5-17 P {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  text-align: left;
  color: #c0a375;
}
#msg-box5-17 .btn {
  font-family: 'Open Sans', sans-serif;
}
#footer1-34 P {
  color: #ffffff;
}
#menu-10 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-10 .navbar-caption {
  color: #ffffff;
}
#menu-10 .navbar-toggler {
  color: #000000;
}
#menu-10 .close-icon::before,
#menu-10 .close-icon::after {
  background-color: #000000;
}
#menu-10 .link,
#menu-10 .dropdown-item {
  color: #000000;
}
#menu-10 .link {
  font-size: 0.75rem;
}
#menu-10 .dropdown-item,
#menu-10 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-10 .link:hover,
#menu-10 .dropdown-item:hover,
#menu-10 .link:focus,
#menu-10 .dropdown-item:focus {
  color: #c0a375;
}
#menu-10 .link[aria-expanded="true"],
#menu-10 .dropdown-menu {
  background: #e6e6e6;
}
#menu-10 .nav-dropdown-sm .link:focus,
#menu-10 .nav-dropdown-sm .link:hover,
#menu-10 .nav-dropdown-sm .dropdown-item:focus,
#menu-10 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-10 .navbar,
#menu-10 .nav-dropdown-sm,
#menu-10 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-10 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-10 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-10 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-10 .bg-color.transparent.opened .link:hover,
#menu-10 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-10 .link[aria-expanded="true"],
#menu-10 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
